{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
    <div class="container z-0 mt-5 mb-5">
        <div class="card container-rgpd">
            <div class="card-header fw-bold text-center pt-3 bg-info "><h1>{{ page.title }}</h1></div>
            <div class="card-body text-justify p-5">
                {# raw permet d'afficher le code HTML interprété par le navigateur #}
                {{ page.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}
