{% extends 'base.html.twig' %}

{% block title %}Work
{% endblock %}

{% block body %}

	<!--Oeuvre-->
	<div class="cont">
		<div>
			<img src="{{painting.image}}" class=" w-100" alt="...">
		</div>
	</div>

	<!--Menu accordéon-->
	<div class="accordion accordion-flush bg-info" id="accordionFlushExample">
		<div class="accordion-item bg-info">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"></button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body text-light">
                <p>Artiste : {{ painting.artist.name }} </p>
                <p>Date de création :</p>
                <p>Technique : </p>
                <p>Dimensions : </p>
                <h2>Anecdote :</h2>
                <p>Lorem ipsum dolor sit amet. Et laborum ratione 33 internos porro aut voluptatem dicta non internos facere eos voluptates ducimus et dolore alias. Non quidem omnis ut itaque molestiae et doloribus dolorum. 33 veniam neque ex magni voluptas est unde necessitatibus ut incidunt doloremque hic dolorum eligendi et eius distinctio est aliquid repellendus. Est voluptatem repellendus ab delectus quia vel dolore perferendis in galisum rerum rem corrupti recusandae qui cupiditate consequatur sit fugiat inventore?</p>
                </div>
			</div>
		</div>
	</div>
</div>{% endblock %}
