includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    excludePaths:
    - src/Security
    ignoreErrors:
        - "#^Parameter.*(User).*(UserInterface).*#"
        - "#^Call to an undefined .*(UserInterface).*#"
        - "#^Call to function file_get_contents#"
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
