<div class="footer p-2 bg-primary">
    <div class="row">
        <div class="col-lg-4 align-self-center text-start">
            <img src="{{ asset('build/images/tel.png') }}" alt="Téléphone"> (+262) 692 851 842<br>
            <img src="{{ asset('build/images/email.png') }}" alt="Adresse e-mail"> Adresse e-mail : afac974@gmail.com
        </div>
        <div class="col-lg-4 text-lg-center">
            Association AFAC<br>
            10 rue Albert Fréjaville<br>
            97430 Le Tampon, île de La Réunion
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-lg-end justify-content-around">
            <a href="#" class="text-light text-decoration-none me-5">RGPD</a>
            <a href="#"><img src="{{ asset('build/images/fb.png') }}" alt="Facebook" title="Facebook"></a>
        </div>
    </div>
</div>
