{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie
{% endblock %}

{% block body %}
	<h1 class="mx-auto my-3">Modifier la catégorie "{{ category.name }}"</h1>

	<div class="d-flex flex-column align-items-center">
		{{ include('admin_category/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a class="btn btn-info my-3" href="{{ path('app_admin_category_index') }}">Retour à l'index</a>

		{{ include('admin_category/_delete_form.html.twig') }}
	</div>

{% endblock %}
