{% extends 'base.html.twig' %}

{% block title %}Gestion des catégories{% endblock %}

{% block body %}
    <h1 class="mx-auto my-3">Index des catégories</h1>
    <div class="table-responsive container">
        <a class="btn btn-info" href="{{ path('app_admin_category_new') }}">Ajouter une caégorie</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td style="text-align: right">
                        <a class="btn btn-info" href="{{ path('app_admin_category_edit', {'id': category.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucune catégorie disponible</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
