{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="d-flex flex-row justify-content-center my-3">Ajouter une catégorie</h1>
		<div class="row">
			<div class="d-flex justify-content-center ">
				{{ include('admin_category/_form.html.twig', {'button_label': 'Ajouter'}) }}
			</div>
			<div class="d-flex justify-content-center ">
				<a class="btn btn-primary my-3 " href="{{ path('app_admin_category_index') }}">Retour à l'index</a>
			</div>
		</div>
	</div>
{% endblock %}
