.wholepage{
    rotate: 180deg;
    .container404{
        rotate: -180deg;
    }
}
.container404 button{
    transition: transform .7s ease-in-out;
}
.container404 button:hover{
    transform: rotate(180deg);
}
