.artist-image img {
    max-height: 35rem;
    border: 7px solid $info;
    border-radius: 5px;
}
.biography {
    max-width: 75ch;
    font-size: 1.5rem;
}

.nationality, .date-of-birth {
    max-width: 10ch;
    font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
    .main-artist {
        display: flex;
        flex-direction: column-reverse;

    }
}



