.accordion-body {
    text-decoration-color: #fff;
}

.cont {
    max-width: 60%;
    object-fit: cover;
    display: flex;
    align-content: stretch;
    height: 100%;
}

.accordion-button {
    background-color: #73658A;
}
