.description {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 550px;
    max-height: 550px;
    display: none;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari et Chrome */
    -o-animation: fadein 1s; /* Opera */

}

.name-painting {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.blur {
    backdrop-filter: blur(4px);
}

.div-head {
    display: block;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari et Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* sur Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 990px) {
    .description {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: 3rem auto;
        width: 90%;
        height: auto;

    }
}

@media screen and (min-width: 991px) {
    .description {
        position: absolute;
    }
}
/* random painting*/
@media screen and (min-width: 991px) {
    .button-random{
        position: absolute;
    }
}

