
.description{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.name-painting {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.blur{

    backdrop-filter:blur(4px);
}

