<div{{attributes}}>
	<{{this.tag}}
	data-action="live#action"
	data-action-name="toggleBookmark"
	class="{{ this.tag == 'button' ? 'btn btn-primary' : 'text-white' }}">
		{% if this.isbookmarked %}
			<i class="bi bi-star-fill"></i>
		{% else %}
			<i class="bi bi-star"></i>
		{% endif %}
	</{{this.tag}}>

</div>
