<div{{attributes}}>
	<span role="button">
		<a data-action="live#action" data-action-name="toggleBookmark" class="  text-white" href="" {{ path('app_profile') }} "">
			{% if this.isbookmarked %}
				<i class="bi bi-star-fill"> </i>
			{% else %}
				<i class="bi bi-star"> </i>
			{% endif %}
		</a>
	</span>
</div>
