{% extends 'base.html.twig' %}

{% block title %}Ajout d'un artiste
{% endblock %}

{% block body %}
	<h1 class=" mt-2 d-flex justify-content-center">Créer un nouvel artiste</h1>

	{{ include('admin_artist/_form.html.twig') }}
	<div class="d-flex justify-content-center">
		<a class="btn btn-primary m-2" href="{{ path('app_admin_artist_index') }}">Retour à l'index</a>
	</div>
{% endblock %}
