{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}

{% block body %}
    <div class="text-center my-auto">
        <h1 class="fw-bold">Erreur 403</h1>
        <h2 class="mb-4">Accès interdit</h2>
        <p>Vous n'avez pas accès à cet espace !</p>
        <a href="{{ path('app_home') }}" class="btn btn-primary button404">Accueil</a>
    </div>

{% endblock %}
