{% extends 'base.html.twig' %}

{% block title %}Galerie
{% endblock %}

{% block body %}
	<div class=" header-title d-flex justify-content-center ">
		<div class=" titre_galery  d-flex align-items-center justify-content-center ">
			<div
				class="bg-info px-4 py-1   position-relative ">
				{# purple #}
				<h1 class="  text-info ">Galerie</h1>
			</div>
			<div
				class="bg-secondary px-4 py-1   position-relative  ">
				{# brown #}
				<h1 class="  text-secondary ">Galerie</h1>
			</div>
			<div
				class="bg-tertiary px-4 py-2  position-absolute shadow">
				{# pink #}
				<h1 class="  text-white ">Galerie</h1>
			</div>
		</div>
	</div>
	<div class="bg-info  ">

		<div class="row row-cols-1  row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3  g-0 mx-4  ">

			{% for painting in paintings %}
				<div class="col d-inline-flex justify-content-center flex-column mt-5 ">
					<div class="d-flex justify-content-center     ">
						<div class="card h-100 w-50 bg-secondary  shadow ">
							<div class="card_header d-flex h-5 ">
								<img src="{{painting.image}}" class="card-img-top  object-fit-cover" alt="...">
							</div>

							<div class="card-body d-flex flex-column  ">
								<div class="hexagon  double m-0 align-self-center  "></div>
								<h5 class="toto1 card-title text-center ">{{painting.title}}</h5>
								<p class="toto2 card-text text-center ">{{painting.artist.name}}</p>
							</div>
							<div class="card-footer">
								<small class="text-body-secondary ">
									<a class="text-primary-inverse " href="#">+ d'infos</a>
								</small>
							</div>
						</div>
					</div>
					<div class="d-inline-flex justify-content-center  mt-4 mb-3 ">
						<button type="button" class="btn btn-primary rounded-4 w-50  ">E-cards</button>
					</div>
				</div>


			{% endfor %}

		</div>

	{% endblock %}
