{% extends 'base.html.twig' %}

{% block title %}Galerie
{% endblock %}

{% block body %}
	<div class="   container   mt-3 p-3">
		<div class=" card-deck grid gap-4 mt-2 mx-3">
			{% for painting in paintings %}
				<div class=" galery card-apparition position-relative overflow-hidden ">
					<img class="  w-100 h-100 object-fit-cover" src="{{painting.image}}" alt="">
					<div class=" position-absolute bg-black w-100 z-1 bottom-0 bg-opacity-50 p-3 d-flex flex-column   ">
						<p class="text-white m-0 ">{{painting.title}}</p>
						<a class=" text-decoration-none text-white" href="#">{{painting.artist.name}}</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<p class=" text-center mt-3">
		-   1/ 5   -
	</p>
{% endblock %}
